html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {

  height: 100%;
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.white-space-nowrap {
    white-space: nowrap;
}

.item-count span:first-child, .item-count span:last-child {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.cart-container {
    position: relative;
}

.product-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
}

.product-card-link:hover,
.product-card-link:focus {
     transform: scale(1.05);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
}

.cart-container {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-button {
    border: none;
    background: none;
    position: relative;
}

.cart-count {
    font-size: 0.6rem;
    padding: 0.1rem 0.3rem;
    transform: translateY(10px) translateX(-24px);
}

.total-price {
    font-size: 0.8rem;
    font-weight: bold;
    color: blue;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-align: center;
    white-space: nowrap;
    transform: translateY(30px) translateX(-80%);
}

.price-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .price-cart-container p {
        margin-bottom: 0;
    }
header {
    position: fixed;
    top: 0; /* Закріплює вгорі */
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding-top: 120px;
    padding-bottom: 30px;
    overflow-y: auto;
    height: calc(100vh - 120px);
}

.table-container {
    padding: 20px;
}

.fixed-alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 999;
    width: 100%;
    transition: opacity 0.3s ease;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Щоб меню було вище інших елементів */
}
.fixed-top1 {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 998; /* Щоб меню було вище інших елементів */
}
